# Auto detect text files and perform LF normalization
* text=auto

# Exclude specific file types from linguist detection
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
/docs/* linguist-detectable=false
